{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "群星", "衝擊", "靈能", "狂怒", "頭腦", "海嘯", "力量", "銀河", "波浪", "衛星", "利爪", "專注", "中樞", "月球", "多重", "畫素", "大地", "太陽", "風暴", "行星", "完美", "靈魂", "心之", "高山", "恐懼", "星雲", "雨雲", "天之", "天空", "海洋", "以太", "現實", "物質", "光之", "虛空", "聚合", "相位", "黎明", "黃昏", "流體", "旋風", "原子", "星際", "彗星", "管理", "怒號", "脈衝" ],
      [ { "mode" : "alts" }, "導流者", "守衛者", "護盾", "圓盾", "守護者", "阻礙者", "止戮者", "堡壘", "打斷者", "粉碎防護者", "保護者", "壁壘" ]
    ]
  ]
}
