{
  "systemNames" : [
    [1.0, "英仙座" ],
    [1.0, "仙王座" ],
    [1.0, "獅子座" ],
    [1.0, "長蛇座" ],
    [1.0, "天兔座" ],
    [1.0, "仙女座" ],
    [1.0, "寶瓶座" ],
    [1.0, "御夫座" ],
    [1.0, "南冕座" ],
    [1.0, "巨蟹座" ],
    [1.0, "犬座" ],
    [1.0, "船底座" ],
    [1.0, "仙后座" ],
    [1.0, "鯨魚座" ],
    [1.0, "南冕座" ],
    [1.0, "巨爵座" ],
    [1.0, "南十字座" ],
    [1.0, "南十字座" ],
    [1.0, "天鵝座" ],
    [1.0, "天龍座" ],
    [1.0, "波江座" ],
    [1.0, "天鶴座" ],
    [1.0, "武仙座" ],
    [1.0, "天貓座" ],
    [1.0, "天琴座" ],
    [1.0, "獵戶座" ],
    [1.0, "飛馬座" ],
    [1.0, "鳳凰座" ],
    [1.0, "雙魚座" ],
    [1.0, "射手座" ],
    [1.0, "天蠍座" ],
    [1.0, "金牛座" ],
    [1.0, "三角座" ],
    [1.0, "處女座" ],
    [1.0, "仙女座" ],
    [1.0, "白羊座" ],
    [1.0, "烏鴉座" ],
    [1.0, "山案座" ],
    [1.0, "天圓六" ],
    [1.0, "水衛一" ],
    [1.0, "王良三" ],
    [1.0, "十字架二" ],
    [1.0, "柳宿增三" ],
    [1.0, "軒轅十一" ],
    [1.0, "弧矢七" ],
    [1.0, "畢宿一" ],
    [1.0, "輦道" ],
    [1.0, "織女增三" ],
    [1.0, "建三" ],
    [1.0, "女宿一" ],
    [1.0, "輦道增七" ],
    [1.0, "右轄" ],
    [1.0, "開陽增一" ],
    [1.0, "昴宿六" ],
    [1.0, "畢宿五" ],
    [1.0, "天鉤五" ],
    [1.0, "鱉六" ],
    [1.0, "上衛增一" ],
    [1.0, "壘壁陣四" ],
    [1.0, "壁宿一" ],
    [1.0, "軒轅九" ],
    [1.0, "軒轅十二" ],
    [1.0, "大陵五" ],
    [1.0, "井宿三" ],
    [1.0, "勾陳四" ],
    [1.0, "玉衡" ],
    [1.0, "搖光" ],
    [1.0, "七公六" ],
    [1.0, "軫宿三" ],
    [1.0, "太陽守" ],
    [1.0, "翼宿一" ],
    [1.0, "柱一" ],
    [1.0, "天大將軍一" ],
    [1.0, "軒轅七" ],
    [1.0, "柳宿二" ],
    [1.0, "鶴一" ],
    [1.0, "箕宿一" ],
    [1.0, "參宿二" ],
    [1.0, "參宿一" ],
    [1.0, "心宿一" ],
    [1.0, "阿爾法" ],
    [1.0, "星宿一" ],
    [1.0, "貫索四" ],
    [1.0, "壁宿二" ],
    [1.0, "外屏七" ],
    [1.0, "天廚二" ],
    [1.0, "上臺增四" ],
    [1.0, "虛宿一" ],
    [1.0, "天廚一" ],
    [1.0, "牛郎星" ],
    [1.0, "柳宿增十" ],
    [1.0, "軒轅八" ],
    [1.0, "天弁七" ],
    [1.0, "弧矢二" ],
    [1.0, "下臺二" ],
    [1.0, "軒轅九" ],
    [1.0, "下臺一" ],
    [1.0, "天市左垣七" ],
    [1.0, "井宿四" ],
    [1.0, "火鳥六" ],
    [1.0, "齊增五" ],
    [1.0, "心宿二" ],
    [1.0, "勾陳增九" ],
    [1.0, "大角" ],
    [1.0, "天淵二" ],
    [1.0, "天棓增九" ],
    [1.0, "鬥宿六" ],
    [1.0, "天槍三" ],
    [1.0, "海石二" ],
    [1.0, "捲舌增七" ],
    [1.0, "昴宿七" ],
    [1.0, "三角形三" ],
    [1.0, "海石一" ],
    [1.0, "天苑六" ],
    [1.0, "天倉四" ],
    [1.0, "九州殊口二" ],
    [1.0, "參宿五" ],
    [1.0, "貝塔區" ],
    [1.0, "參宿四" ],
    [1.0, "危宿二" ],
    [1.0, "老人星" ],
    [1.0, "五車二" ],
    [1.0, "王良一" ],
    [1.0, "井宿一" ],
    [1.0, "宗正一" ],
    [1.0, "昴宿增十六" ],
    [1.0, "常陳四" ],
    [1.0, "太微右垣四" ],
    [1.0, "王良三" ],
    [1.0, "常陳一" ],
    [1.0, "玉井三" ],
    [1.0, "天鵝座X-1" ],
    [1.0, "牛宿一" ],
    [1.0, "奎宿五" ],
    [1.0, "五帝座一" ],
    [1.0, "太微左垣五" ],
    [1.0, "房宿三" ],
    [1.0, "天樞" ],
    [1.0, "左樞" ],
    [1.0, "昴宿一" ],
    [1.0, "五車五" ],
    [1.0, "天棓四" ],
    [1.0, "危宿三" ],
    [1.0, "少衛增八" ],
    [1.0, "埃塔" ],
    [1.0, "北落師門" ],
    [1.0, "孫增一" ],
    [1.0, "十字架一" ],
    [1.0, "伽馬" ],
    [1.0, "石榴石" ],
    [1.0, "上輔" ],
    [1.0, "天津九" ],
    [1.0, "尾宿七" ],
    [1.0, "南河二" ],
    [1.0, "大陵增十八" ],
    [1.0, "房宿四" ],
    [1.0, "天棓一" ],
    [1.0, "馬腹一" ],
    [1.0, "柱二" ],
    [1.0, "天倉一" ],
    [1.0, "角宿二" ],
    [1.0, "漢德" ],
    [1.0, "雷電一" ],
    [1.0, "畢宿四" ],
    [1.0, "壘壁陣七" ],
    [1.0, "約塔" ],
    [1.0, "梗河一" ],
    [1.0, "鍵閉" ],
    [1.0, "天囷八" ],
    [1.0, "豺狼座" ],
    [1.0, "卡帕" ],
    [1.0, "箕宿三" ],
    [1.0, "虛宿二" ],
    [1.0, "北極二" ],
    [1.0, "河中" ],
    [1.0, "軫宿四" ],
    [1.0, "右更二" ],
    [1.0, "天棓二" ],
    [1.0, "天鉤六" ],
    [1.0, "拉姆達" ],
    [1.0, "尾宿九" ],
    [1.0, "昴宿四" ],
    [1.0, "列肆二" ],
    [1.0, "室宿一" ],
    [1.0, "天社五" ],
    [1.0, "列肆二" ],
    [1.0, "離宮四" ],
    [1.0, "井宿五" ],
    [1.0, "天權" ],
    [1.0, "觜宿一" ],
    [1.0, "井宿七" ],
    [1.0, "五車三" ],
    [1.0, "天囷一" ],
    [1.0, "庫樓三" ],
    [1.0, "捲舌三" ],
    [1.0, "天璇" ],
    [1.0, "昴宿五" ],
    [1.0, "婁宿二" ],
    [1.0, "南船五" ],
    [1.0, "十字架三" ],
    [1.0, "軫宿二" ],
    [1.0, "參宿三" ],
    [1.0, "天船一" ],
    [1.0, "梗河一" ],
    [1.0, "天船三" ],
    [1.0, "軍市一" ],
    [1.0, "奎宿九" ],
    [1.0, "婁宿增六" ],
    [1.0, "天槍三" ],
    [1.0, "庫樓七" ],
    [1.0, "天狼增四" ],
    [1.0, "天狼增四" ],
    [1.0, "右攝提一" ],
    [1.0, "內階增七" ],
    [1.0, "弧矢增二十二" ],
    [1.0, "壁壘陣三" ],
    [1.0, "七公增五" ],
    [1.0, "廁二" ],
    [1.0, "軒轅九" ],
    [1.0, "鬥宿四" ],
    [1.0, "貫索三" ],
    [1.0, "歐米茄" ],
    [1.0, "鯨魚座" ],
    [1.0, "孔雀座" ],
    [1.0, "波斯" ],
    [1.0, "丈人一" ],
    [1.0, "天璣" ],
    [1.0, "勾陳增五" ],
    [1.0, "斐" ],
    [1.0, "派" ],
    [1.0, "普拉斯基特" ],
    [1.0, "昴宿增十二" ],
    [1.0, "南極星" ],
    [1.0, "波利斯" ],
    [1.0, "北河三" ],
    [1.0, "太微左垣二" ],
    [1.0, "勢四" ],
    [1.0, "南河三" ],
    [1.0, "鉞" ],
    [1.0, "半人馬比鄰星" ],
    [1.0, "普西" ],
    [1.0, "天苑三" ],
    [1.0, "軒轅十" ],
    [1.0, "天棓三" ],
    [1.0, "天社一" ],
    [1.0, "軒轅十四" ],
    [1.0, "參宿七" ],
    [1.0, "南門二" ],
    [1.0, "瓠瓜四" ],
    [1.0, "天津增三十七" ],
    [1.0, "閣道三" ],
    [1.0, "天淵三" ],
    [1.0, "宋" ],
    [1.0, "墳墓二" ],
    [1.0, "離宮二" ],
    [1.0, "危宿一" ],
    [1.0, "虛宿一" ],
    [1.0, "天津一" ],
    [1.0, "參宿六" ],
    [1.0, "室宿二" ],
    [1.0, "閣道二" ],
    [1.0, "招搖" ],
    [1.0, "左旗一" ],
    [1.0, "尾宿八" ],
    [1.0, "王良四" ],
    [1.0, "漸臺二" ],
    [1.0, "婁宿一" ],
    [1.0, "西格瑪" ],
    [1.0, "天狼" ],
    [1.0, "土衛二十七" ],
    [1.0, "角宿一" ],
    [1.0, "瓠瓜一" ],
    [1.0, "軒轅十五" ],
    [1.0, "老人星" ],
    [1.0, "漸臺三" ],
    [1.0, "亢宿二" ],
    [1.0, "參旗六" ],
    [1.0, "上臺二" ],
    [1.0, "河鼓三" ],
    [1.0, "畢宿五" ],
    [1.0, "昴宿二" ],
    [1.0, "水位四" ],
    [1.0, "井宿一" ],
    [1.0, "西塔" ],
    [1.0, "右樞" ],
    [1.0, "海石二" ],
    [1.0, "蜀" ],
    [1.0, "織女星" ],
    [1.0, "東次將" ],
    [1.0, "天樽二" ],
    [1.0, "弧矢一" ],
    [1.0, "玄戈增二" ],
    [1.0, "勾陳二" ],
    [1.0, "左執法" ],
    [1.0, "火鳥六" ],
    [1.0, "右執法" ],
    [1.0, "塞塔" ],
    [1.0, "天苑五" ],
    [1.0, "西上相" ],
    [1.0, "氐宿一" ],
    [1.0, "氐宿四" ],
    [1.0, "西鹹四" ],
    // community additions
    [1.0, "鳶尾" ],
    [1.0, "瑪莎" ],
    [1.0, "月亮" ],
    [1.0, "獨立" ],
    [1.0, "泰伊" ],
    [1.0, "徳曼里斯" ],
    [1.0, "毀滅" ],
    [1.0, "大篩" ],
    [1.0, "絢糖" ],
    [1.0, "阿拉庫利" ],
    [1.0, "韋嘉倫" ],
    [1.0, "巴特維" ],
    [1.0, "脈搏" ],
    [1.0, "艾裡克西斯" ],
    [1.0, "玉蘭" ],
    [1.0, "瓦克薩斯" ],
    [1.0, "悉尼" ],
    [1.0, "奈耶" ],
    [1.0, "本影" ],
    [1.0, "雷" ],
    [1.0, "超結點" ],
    [1.0, "萬花筒" ],
    [1.0, "重因" ],
    [1.0, "科洛克" ],
    [1.0, "仙境傳說" ],
    [1.0, "圖圖基" ],
    [1.0, "焦" ],
    [1.0, "水" ],
    [1.0, "天" ],
    [1.0, "影" ],
    [1.0, "壞死" ],
    [1.0, "低溫" ],
    [1.0, "電子" ],
    [1.0, "德拉科" ],
    [1.0, "計時" ],
    [1.0, "大玻璃" ],
    [1.0, "全益" ],
    [1.0, "全雄" ],
    [1.0, "烏尼歐斯" ],
    [1.0, "端尼亞" ],
    [1.0, "特里亞西" ],
    [1.0, "卡達" ],
    [1.0, "凌萬" ],
    [1.0, "同化" ],
    [1.0, "抽取" ],
    [1.0, "速率" ],
    [1.0, "迄今" ],
    [1.0, "柚木" ],
    [1.0, "維克斯" ],
    [1.0, "翁布里亞" ],
    [1.0, "大學" ],
    [1.0, "奧米克倫" ],
    [1.0, "艾普西洛" ],
    [1.0, "提語濤利阿爾法星" ],
    [1.0, "提語利阿爾法星" ],
    [1.0, "日" ],
    [1.0, "朔望" ],
    [1.0, "阿爾迪斯" ],
    [1.0, "里拉" ],
    [1.0, "汽笛風琴" ],
    [1.0, "克里歐" ],
    [1.0, "埃拉託" ],
    [1.0, "司簫星" ],
    [1.0, "司曲星" ],
    [1.0, "司瑟星" ],
    [1.0, "司舞星" ],
    [1.0, "司劇星" ],
    [1.0, "司天星" ],
    [1.0, "底木" ],
    [1.0, "愛樂比斯" ],
    [1.0, "陰沉" ],
    [1.0, "左墨" ],
    [1.0, "泰勒達爾" ],
    [1.0, "布拉姆" ],
    [1.0, "霍伊爾" ],
    [1.0, "維克斯阿里烏斯" ],
    [1.0, "美裕" ],
    [1.0, "失手" ],
    [1.0, "克沃姆" ],
    [1.0, "鍋" ],
    [1.0, "啟嘛卡" ],
    [1.0, "馬爾森" ],
    [1.0, "阿丹亭" ],
    [1.0, "蘭法" ],
    [1.0, "巴巴倫" ],
    [1.0, "希塔" ],
    [1.0, "高塔姆" ],
    [1.0, "梵歌" ],
    [1.0, "賣萌" ],
    [1.0, "坐墊" ],
    [1.0, "每間" ],
    [1.0, "阿頓" ],
    [1.0, "治權" ],
    [1.0, "飛樂" ],
    [1.0, "冠冕" ],
    [1.0, "比埃爾" ],
    [1.0, "比波布魯克斯" ],
    [1.0, "贏國" ],
    [1.0, "色勒斯蒂亞" ],
    [1.0, "罐面" ],
    [1.0, "驚訝" ],
    [1.0, "老兄" ],
    [1.0, "澤魯斯" ],
    [1.0, "幻錯" ],
    [1.0, "馬屁" ],
    [1.0, "奧布賽克里" ],
    [1.0, "土衛七" ],
    [1.0, "基普科隆" ],
    [1.0, "超坤" ],
    [1.0, "澤爾" ],
    [1.0, "普克索利爾" ],
    [1.0, "萊笛特潤" ],
    [1.0, "瓦石" ],
    [1.0, "曼格拉斯" ],
    [1.0, "蟋蟀" ],
    [1.0, "威爾特沃多VI" ],
    [1.0, "米格力" ],
    [1.0, "阿列戈斯" ],
    [1.0, "皮琴" ],
    [1.0, "賽澤阿斯" ],
    [1.0, "尤勒尼亞" ],
    [1.0, "耳脖" ],
    [1.0, "贊塔利亞" ],
    [1.0, "伊卡洛斯" ],
    [1.0, "西西維爾斯" ],
    [1.0, "阿瑟巴斯" ],
    [1.0, "濱崎步" ],
    [1.0, "砂海濱" ],
    [1.0, "黑" ],
    [1.0, "克魯坦" ],
    [1.0, "奈奈託" ],
    [1.0, "契斯堤" ],
    [1.0, "心愛" ],
    [1.0, "埃塔利徳" ],
    [1.0, "切託納拉斯" ],
    [1.0, "拉克希德" ],
    [1.0, "逗你玩" ],
    [1.0, "伽瑪克里克" ],
    [1.0, "紹納豆" ],
    [1.0, "西若露" ],
    [1.0, "享御" ],
    [1.0, "兔形目" ],
    [1.0, "多伊" ],
    [1.0, "摩伊賴" ],
    [1.0, "地獄" ],
    [1.0, "以太" ],
    [1.0, "阿帕忒" ],
    [1.0, "奧伊季斯" ],
    [1.0, "拉塔託斯克" ],
    [1.0, "塔那託斯" ],
    [1.0, "世界樹" ],
    [1.0, "蓋婭" ],
    [1.0, "俄涅洛伊" ],
    [1.0, "格拉斯" ],
    [1.0, "格拉斯" ],
    [1.0, "厄瑞波斯" ],
    [1.0, "英特格拉" ],
    [1.0, "守護" ],
    [1.0, "亞維斯" ],
    [1.0, "拉克萊希爾" ],
    [1.0, "馬奎婭" ],
    [1.0, "帕萊蒂" ],
    [1.0, "夏爾西頓" ],
    [1.0, "尼祿諾亞" ],
    [1.0, "靈液" ],
    [1.0, "露露裡特" ],
    [1.0, "萊斯蒂亞" ],
    [1.0, "子午" ],
    [1.0, "泰塞拉" ],
    [1.0, "襪子" ],
    [1.0, "鐮刀" ],
    [1.0, "海爾格維薩" ],
    [1.0, "艾斯特萊克斯" ],
    [1.0, "左爾麥徳拉" ],
    [1.0, "孟德葛爾" ],
    [1.0, "卓爾" ],
    [1.0, "普里曼徳" ],
    [1.0, "鯨魚九" ],
    [1.0, "凡拉貢" ],
    [1.0, "阿可若" ],
    [1.0, "卡拉西斯" ],
    [1.0, "保障" ],
    [1.0, "塔納託斯" ],
    [1.0, "諾魯因" ],
    [1.0, "烏鴉" ],
    [1.0, "喬遜" ],
    [1.0, "奧姆尼科爾帕" ],
    [1.0, "斯特嘎瑪吉斯特" ],
    [1.0, "暗色調" ],
    [1.0, "瓠瓜四" ],
    [1.0, "右更四" ],
    [1.0, "福里布裡爾斯薩爾斯" ],
    [1.0, "法戈VIII" ],
    [1.0, "天體" ],
    [1.0, "骨" ],
    [1.0, "長" ],
    [1.0, "倫徳" ],
    [1.0, "維塔斯吉甘塔斯" ],
    [1.0, "艾希比亞" ],
    [1.0, "氣功" ],
    [1.0, "奧賽因" ],
    [1.0, "埃屏一" ],
    [1.0, "茵寶" ],
    [1.0, "埃雷爾" ],
    [1.0, "奧維" ],
    [1.0, "西爾維納" ],
    [1.0, "奧託匹亞" ],
    [1.0, "埃布洛克西利婭" ],
    [1.0, "奧裡克斯" ],
    [1.0, "辛比利亞斯" ],
    [1.0, "馬克西姆斯" ],
    [1.0, "縱火" ],
    [1.0, "帕科米亞姆" ],
    [1.0, "因特萊普利亞姆" ],
    [1.0, "埃克西米亞" ],
    [1.0, "阿誒裡亞" ],
    [1.0, "馬開西安" ],
    [1.0, "琴普斯" ],
    [1.0, "洛克斯多爾" ],
    [1.0, "馬林納斯" ],
    [1.0, "夏爾" ],
    [1.0, "麥格納盧波" ],
    [1.0, "耳咽管" ],
    [1.0, "雷帕" ],
    [1.0, "哥白尼" ],
    [1.0, "寶馬" ],
    [1.0, "拉斯西亞" ],
    [1.0, "賽內特" ],
    [1.0, "貝爾託納斯" ],
    [1.0, "外熱米爾" ],
    [1.0, "都米勒" ],
    [1.0, "蓋斯麥熱" ],
    [1.0, "凱厄斯" ],
    [1.0, "興" ],
    [1.0, "溫都爾" ],
    [1.0, "莫託倫" ],
    [1.0, "流明" ],
    [1.0, "外賣" ],
    [1.0, "落羽松二酮" ],
    [1.0, "烤星" ],
    [1.0, "沃特羅紗" ],
    [1.0, "米婭" ],
    [1.0, "多普勒代" ],
    [1.0, "終結者" ],
    [1.0, "靈性之友" ],
    [1.0, "木衛三十六" ],
    [1.0, "阿斯特里克" ],
    [1.0, "歐特姆" ],
    [1.0, "託莫琪" ],
    [1.0, "勒克索爾" ],
    [1.0, "川泰克" ],
    [1.0, "高階" ],
    [1.0, "奧拉貝利" ],
    [1.0, "梅爾波門尼亞" ],
    [1.0, "多普勒代" ],
    [1.0, "戈登" ],
    [1.0, "烏賽雷克斯" ],
    [1.0, "餛飩" ],
    [1.0, "亞利昂" ],
    [1.0, "格拉洛斯" ],
    [1.0, "巴朗" ],
    [1.0, "麥子格洛格" ],
    [1.0, "格萊內斯" ],
    [1.0, "澤局" ],
    [1.0, "斯露徳亨" ],
    [1.0, "愛麗絲" ],
    [1.0, "哈羅貝徳" ],
    [1.0, "斯卡傑" ],
    [1.0, "瑪雅" ],
    [1.0, "莉莉斯" ],
    [1.0, "暮木" ],
    [1.0, "撒比" ],
    [1.0, "瓦石" ],
    [1.0, "蕾娜" ],
    [1.0, "克里森" ],
    [1.0, "理事會" ],
    [1.0, "德克斯特" ],
    [1.0, "克羅斯堡" ],
    [1.0, "萊斯洛依" ],
    [1.0, "斯魯" ],
    [1.0, "魯西安" ],
    [1.0, "蓋麗安" ],
    [1.0, "瓦斯托藍" ],
    [1.0, "安德里亞" ],
    [1.0, "格拉多斯" ]

  ],

  "systemPrefixNames" : [
  ],

  "systemSuffixNames" : [
    [1.0, "大" ],
    [1.0, "小" ],
    [1.0, "主" ],
    [1.0, "團" ],
    [1.0, "盆地" ],    
    [1.0, "流" ],
    [1.0, "波峰" ],
    [1.0, "貝塔" ],
    [1.0, "環" ],
    [1.0, "伽馬" ],
    [1.0, "聯" ],
    [1.0, "穴" ],
    [1.0, "邊境" ],
    [1.0, "荒蕪" ],
    [1.0, "廣闊" ],
    [1.0, "面紗" ],
    [1.0, "起源" ],
    [1.0, "源點" ],
    [1.0, "甦醒" ],
    [1.0, "暗隙" ],
    [1.0, "西格瑪" ], 
    [1.0, "德爾塔" ],
    [1.0, "脊" ],
    [1.0, "靜" ],
    [1.0, "食" ],
    [1.0, "潮" ],
    [1.0, "變" ],
    [1.0, "階" ],
    [1.0, "質量" ],
    [1.0, "星群" ],
    [1.0, "蛾眉" ],
    [1.0, "無數" ],
    [1.0, "很多" ],
    [1.0, "星表" ],
    [1.0, "特拉弗斯" ],
    [1.0, "縷" ],
    [1.0, "領會" ],
    [1.0, "沼澤" ],
    [1.0, "懸崖" ],
    [1.0, "泥" ],
    [1.0, "站" ],
    [1.0, "" ]
  ],

  "planetarySuffixes" : [ "^green;I^white;", "^green;II^white;", "^green;III^white;", "^green;IV^white;", "^green;V^white;", "^green;VI^white;", "^green;VII^white;", "^green;VIII^white;", "^green;IX^white;", "^green;X^white;", "^green;XI^white;", "^green;XII^white;" ],
  "satelliteSuffixes" : [ "^white;- ^yellow;a^white;", "^white;- ^yellow;b^white;", "^white;- ^yellow;c^white;", "^white;- ^yellow;d^white;", "^white;- ^yellow;e^white;", "^white;- ^yellow;f^white;", "^white;- ^yellow;g^white;", "^white;- ^yellow;h^white;", "^white;- ^yellow;i^white;", "^white;- ^yellow;j^white;", "^white;- ^yellow;k^white;", "^white;- ^yellow;l^white;" ]
}
